@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
﻿<div class="container pt-2">
    <img src="~/images/accessDenied.jpg" width="100%" />
</div>